<style>
    .form-field-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .form-field {
      width: 48%; /* Adjust the width as needed */
      margin-bottom: 10px; /* Add margin as desired */
    }
  </style>

<form method="post">
    {% csrf_token %}
    <div class="form-field-container">
      {% for field in forms %}
        <div class="form-field">
          <label for="{{ field.auto_id }}">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
            <div class="error-message">
              {% for error in field.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% endif %}
        </div>
        {% if forloop.counter|divisibleby:2 %}
          </div>
          <div class="form-field-container">
        {% endif %}
      {% endfor %}
    </div>
    <button type="submit">Submit</button>
  </form>