{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong>{{ message }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}

<form action="{% url 'IPCR_pg5' %}" method = "POST">
    {% csrf_token %}

            <h4>Research proposal submitted/activity conducted:</h4>
            {{ form_researchproposalsubmitted }}

            <h4>Research implemented and/or completed within the timeframe:</h4>
            {{ form_researchimplemented }}

            <h4>Research presented in regional/national/international conferences:</h4>
            {{ form_researchpresented }}

            <h4>Research published in peer-reviewed journals:</h4>
            {{ form_researchpublished }}

            <h4>Filed/published/approved Intelectual Property rights:</h4>
            {{ form_approvediprights }}

            <h4>Research utilized/deployed through commercialization/extension/policy:</h4>
            {{ form_researchutilized }}

            <h4>Number of citations in journals/books:</h4>
            {{ form_numberofcitations }}

            <h1>  </h1>    
            <input type="submit" value="Save">
    </form>
    
    <button><a href="{% url 'member_home' %}">home</a></button>
    <button><a href="{% url 'IPCR_pg6' %}">pg 6</a></button>
    
    