body {
    line-height:1;
    min-height : 100vh;
    background: linear-gradient(179.82deg, #5C85B3 -3.97%, #451212 111.83%);
    margin: 0; 
    overflow-x: hidden;
    overflow-y : scroll;
    background-repeat: repeat;
    
} 
.lspu_bg{
    
    opacity : 0.3;
    background: linear-gradient(180deg, #5C85B3 0%, #ED353D 95.93%, rgba(179, 92, 92, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} 
.white_bg {
    position: absolute;
    width: 1179px;
    height: 147px;
    left: 262px;
    top: 54px;
    background: #FFFFFF;
    opacity: 0.4;
    border-radius: 18px;
}
.lspu_header{
    position: absolute;
    width: 1155px;
    height: 125px;
    left: 274px;
    top: 67px;
} 
.avatar_bg {
    position: absolute;
    width: 119px;
    height: 114px;
    left: 1525px;
    top: 54px;
    background: #282525;
    border-radius : 100px;
  }
.avatar{
    position: absolute;
    width: 53px;
    height: 61px;
    left: 1558px;
    top: 80px;
        
}
.acc_name_bg{
    position: absolute;
    width: 153px;
    height: 30px;
    left: 1508px;
    top: 178px;
    background: #282525;
    border-radius: 7px; 
}
.acc_name_placeholder{
    position: absolute;
    width: 117px;
    height: 20px;
    left: 1526px;
    top: 183px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
}
.Home_bg {
    position: absolute;
    width: 1399px;
    height: 2900px;
    left: 262px;
    top: 244px;
    background: #282525;
    box-shadow: 10px 4px 14px 3px rgba(0, 0, 0, 0.25);
    border-radius: 18px; 
    padding-top : 200px;
}
a:link {
    text-decoration: none;
    color: white;
    display: block;
}
a:active {
    color: black;
  }

.logout{
    font-family:'Inter';
    font-style: italic;
    font-weight: 700;
    width: 153px;
    height: 30px;
    position: absolute;
    left: 1508px;
    top: 20px;
    background: #282525;
    margin-bottom: 20px;
    margin-top: 190px;
    border-radius: 7px;
    border : 0px solid;
}
/*Menu_member */
/*#ipcr_menu{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    
} */
.ipcr_home {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    width: 172px;
    height: 42px;
    left: 296px;
    top: 273px;
    background: #7a7979;
    border-radius: 18px;
    border : 0px solid;  
     
}
.ipcr_home:hover{
    background-color: #5C85B3;
}
.ipcr_ipcr{
    position: absolute;
    width: 172px;
    height: 42px;
    left: 504px;
    top: 273px;
    background: #3F6DEB;
    opacity: 0.4;
    border-radius: 18px;
    border-radius: 18px;
    border : 0px solid;  
}
.ipcr{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    width: 139px;
    height: 20px;
    left: 519px;
    top: 287px;
    text-align: center;
    color: #FFFFFF;
    line-height: 19px;
    border-radius: 18px;
    border : 0px solid;  
    
}

.ipcr_downloads{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    width: 172px;
    height: 42px;
    position: absolute;
    left: 712px;
    top: 273px;
    background: #7a7979;
    border-radius: 18px;
    border : 0px solid;  
}

.ipcr_downloads:hover{
    background-color: #5C85B3;
}    



.ipcr_dashboard{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    width: 172px;
    height: 42px;
    left: 920px;
    top: 273px;
    background: #7a7979;
    border-radius: 18px;
    border : 0px solid;  
    
}
.ipcr_dashboard:hover{
    background-color: #5C85B3;
}
.ipcr_faculty_list{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    width: 172px;
    height: 42px;
    position: absolute;
    left: 1128px;
    top: 273px;
    background: #7a7979;
    border-radius: 18px;
    border : 0px solid;  
    
}
.ipcr_faculty_list:hover{
    background-color: #5C85B3;
}
.ipcr_notifications{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    width: 172px;
    height: 42px;
    position: absolute;
    left: 1336px;
    top: 273px;
    background: #7a7979;
    border-radius: 18px;
    border : 0px solid;  
}
.ipcr_notifications:hover{
    background-color: #5C85B3;
}
.ipcr_settings {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    width: 60px;
    height: 42px;
    position: absolute;
    left: 1544px;
    top: 273px;
    background: #7a7979;
    border-radius: 18px;
    border : 0px solid;  
}
.ipcr_settings:hover{
        background-color: #5C85B3;
}
.ipcr_ipcr_form{
    position: absolute;
    width: 172px;
    height: 42px;
    left: 296px;
    top: 360px;
    background: #3F6DEB;
    opacity: 0.4;
    border-radius: 18px;
    border : 0px solid;  
}
.ipcr_form{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    width: 139px;
    height: 20px;
    left: 310px;
    top: 372px;
    text-align: center;
    color: #FFFFFF;
    line-height: 19px; 
    border-radius: 18px;
    border : 0px solid;  
}
.ipcr_coachingform{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    width: 172px;
    height: 42px;
    position: absolute;
    left: 296px;
    top: 415px;
    background: #7a7979;
    border-radius: 18px;
    border : 0px solid;  
}
.ipcr_iptm_form{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    width: 172px;
    height: 42px;
    position: absolute;
    left: 296px;
    top: 470px;
    background: #7a7979;
    border-radius: 18px;
    border : 0px solid;  
}
/*FORMS*/
.form-field-container {
    display: flex;
    margin-left: 242px;
    padding-top:20px;
    color : white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px; 
    width: 1100px;
    height: 50px;
    background: #D9D9D9;
    border-radius :0px 0px 0px 0px  ;
    border-bottom: 1px dashed #000000;

  }

.form-field {
    width: 100px;
    margin-block-start: 5px;
    margin-inline-start: 500px;
    margin-inline-end: -250px;
}
/*TITLES*/
.ipcr_indiv{
    position: absolute;
    width: 657px;
    height: 36px;
    left: 450px;
    top: 80px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    
}
.ipcr_conformed {
    position: absolute;
    width: 181px;
    height: 15px;
    left: 350px;
    top: 115px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.ipcr_reviewed{
    position: absolute;

    height: 15px;
    left: 550px;
    top: 115px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.ipcr_reviewed_vice{
    position: absolute;

    height: 15px;
    left: 800px;
    top: 115px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.ipcr_title1{
    text-align : left;
    position : absolute;
    left: 260px;
    top:165px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color : white;
}
.ipcr_title{
    text-align : left;
    position : absolute;
    left: 785px;
    top:165px;
    color : white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;  
    word-spacing :250px;
}

/* BORDER*/
.border1{
    position: absolute;
    width: 1100px;
    height: 50px;
    left: 242px;
    top: 150px;
    background: #5C85B3;
    opacity: 0.4;
    border-radius : 18px 18px 0px 0px ;
}
.border2{
    position: absolute;
    width: 475px;
    height: 25px;
    left: 242px;
    top: 200px;
    background: #5C85B3;
    opacity: 0.7;
    border-radius : 0px ;
}
.border2_2{
    position: absolute;
    width: 140px;
    height: 20px;
    right: 57px;
    top: 200px;
    background: #451212;
    border-radius : 0px ;
}
.border3{
    position: absolute;
    width: 475px;
    height: 25px;
    left: 242px;
    top: 483px;
    background: #5C85B3;
    opacity: 0.7;
    border-radius : 0px ;
}
.border4{
    position: absolute;
    width: 475px;
    height: 25px;
    left: 242px;
    top: 625px;
    background: #5C85B3;
    opacity: 0.7;
    border-radius : 0px ;
}
.border5{
    position: absolute;
    width: 475px;
    height: 25px;
    left: 242px;
    top: 1193px;
    background: #5C85B3;
    opacity: 0.7;
    border-radius : 0px ;
}
.border6{
    position: absolute;
    width: 475px;
    height: 25px;
    left: 242px;
    top: 767px;
    background: #5C85B3;
    opacity: 0.7;
    border-radius : 0px ;
}
.border7{
    position: absolute;
    width: 475px;
    height: 25px;
    left: 242px;
    top: 1265px;
    background: #5C85B3;
    opacity: 0.7;
    border-radius : 0px ;
}
.border8{
    position: absolute;
    width: 475px;
    height: 25px;
    left: 242px;
    top: 1335px;
    background: #5C85B3;
    opacity: 0.7;
    border-radius : 0px ;
}
.border9{
    position: absolute;
    width: 475px;
    height: 25px;
    left: 242px;
    top: 1407px;
    background: #5C85B3;
    opacity: 0.7;
    border-radius : 0px ;
}
.border9_9{
    position: absolute;
    width: 140px;
    height: 20px;
    right: 57px;
    top: 1407px;
    background: #451212;
    border-radius : 0px ;
    
}
.border10{
    position: absolute;
    width: 475px;
    height: 25px;
    left: 242px;
    top: 1903px;
    background: #5C85B3;
    opacity: 0.7;
    border-radius : 0px ;
}
.border10_1{
    position: absolute;
    width: 140px;
    height: 20px;
    right: 57px;
    top: 1903px;
    background: #451212;
    border-radius : 0px ;
} 
.border11{
    position: absolute;
    width: 475px;
    height: 25px;
    left: 242px;
    top: 2258px;
    background: #5C85B3;
    opacity: 0.7;
    border-radius : 0px ;
}
.border11_1{
    position: absolute;
    width: 180px;
    height: 20px;
    right: 57px;
    top: 2258px;
    background: #451212;
    border-radius : 0px ;
}
.border12{
    position: absolute;
    width: 475px;
    height: 25px;
    left: 242px;
    top: 2329px;
    background: #5C85B3;
    opacity: 0.7;
    border-radius : 0px ;
}
.border13{
    position: absolute;
    width: 475px;
    height: 25px;
    left: 242px;
    top: 2400px;
    background: #5C85B3;
    opacity: 0.7;
    border-radius : 0px ;
}
.border14{
    position: absolute;
    width: 475px;
    height: 25px;
    left: 242px;
    top: 2471px;
    background: #5C85B3;
    opacity: 0.7;
    border-radius : 0px ;
}
.border15{
    position: absolute;
    width: 475px;
    height: 25px;
    left: 242px;
    top: 2542px;
    background: #5C85B3;
    opacity: 0.7;
    border-radius : 0px ;
}
.border16{
    position: absolute;
    width: 475px;
    height: 25px;
    left: 242px;
    top: 2613px;
    background: #5C85B3;
    opacity: 0.7;
    border-radius : 0px ;
}
.border17{
    position: absolute;
    width: 475px;
    height: 25px;
    left: 242px;
    top: 2684px;
    background: #5C85B3;
    opacity: 0.7;
    border-radius : 0px ;
}
.border18{
    position: absolute;
    width: 475px;
    height: 25px;
    left: 242px;
    top: 2755px;
    background: #5C85B3;
    opacity: 0.7;
    border-radius : 0px ;
}
.border19{
    position: absolute;
    width: 475px;
    height: 25px;
    left: 242px;
    top: 2826px;
    background: #5C85B3;
    opacity: 0.7;
    border-radius : 0px ;
}


/* SUBTITLES*/
.subtitle_plan{
    position: absolute;
    width: 582px;
    height: 65px;
    left: 250px;
    top: 200px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color:white;
}
.subtitle_plan_1{
    position: absolute;
    width: 582px;
    height: 65px;
    left: 1220px;
    top: 198px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color:white;
}
.subtitle_organize{
    position: absolute;
    width: 582px;
    height: 65px;
    left: 250px;
    top: 483px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color:white;
}
.subtitle_teaching{
    position: absolute;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: white;
    width: 582px;
    height: 65px;
    left: 250px;
    top: 625px;  
}
.subtitle_summative{
    position: absolute;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: white;
    width: 582px;
    height: 65px;
    left: 250px;
    top:765px;  
}
.subtitle_grades{
    position: absolute;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: white;
    width: 582px;
    height: 65px;
    left: 250px;
    top:1193px;
}
.subtitle_consult{
    position: absolute;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: white;
    width: 582px;
    height: 65px;
    left: 250px;
    top: 1265px;
}
.subtitle_prep{
    position: absolute;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: white;
    width: 582px;
    height: 65px;
    left: 250px;
    top: 1335px;
}
.subtitle_resprog{
    position: absolute;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: white;
    width: 582px;
    height: 65px;
    left: 1px;
    top: 73px;
}
.subtitle_resprog_1{
    position: absolute;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: white;
    width: 582px;
    height: 65px;
    left: 1000px;
    top: 70px;
}
.subtitle_ext{
    position: absolute;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: white;
    width: 582px;
    height: 65px;
    left: 1px;
    top: 570px;
}
.subtitle_ext_1{
    position: absolute;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: white;
    width: 582px;
    height: 65px;
    left: 990px;
    top: 568px;
}
.subtitle_off{
    position: absolute;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: white;
    width: 582px;
    height: 65px;
    left: 1px;
    top:925px;
}
.subtitle_supp{
    position: absolute;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: white;
    width: 582px;
    height: 65px;
    left: 930px;
    top: 922px;
}
.subtitle_flagraise{
    position: absolute;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: white;
    width: 582px;
    height: 65px;
    left: 1px;
    top:995px;
}
.subtitle_flaglower{
    position: absolute;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: white;
    width: 582px;
    height: 65px;
    left: 1px;
    top:1065px;
}
.subtitle_health{
    position: absolute;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: white;
    width: 582px;
    height: 65px;
    left: 990px;
    top:2471px;
    left: 1px;
    top:1138px;
}
.subtitle_celeb{
    position: absolute;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: white;
    width: 582px;
    height: 65px;
    left: 1px;
    top:1208px;
}
.subtitle_confe{
    position: absolute;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: white;
    width: 582px;
    height: 65px;
    left: 1px;
    top:1278px;
}
.subtitle_facmeet{
    position: absolute;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: white;
    width: 582px;
    height: 65px;
    left: 1px;
    top:1350px;
}
.subtitle_iso{
    position: absolute;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: white;
    width: 582px;
    height: 65px;
    left: 1px;
    top:1420px;
}
.subtitle_spirit{
    position: absolute;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: white;
    width: 582px;
    height: 65px;
    left: 1px;
    top:1490px;
}
/* CONTENTS*/
.content_syllabus{
    position: absolute;
    width: 582px;
    height: 65px;
    left: 260px;
    top: 225px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: black;}
.content_course{
    position: absolute;
    width: 197px;
    height: 41px;
    left: 260px;
    top: 295px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}
.content_slm{
    position: absolute;
    width: 197px;
    height: 41px;
    left: 260px;
    top: 365px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black}
.content_subject{
    position: absolute;
    width: 300px;
    height: 41px;
    left: 260px;
    top: 425px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}
.content_attendance{
    position: absolute;
    width: 300px;
    height: 41px;
    left: 260px;
    top: 510px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}
.content_classrecords{
    position: absolute;
    width: 300px;
    height: 41px;
    left: 260px;
    top: 580px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}
.content_evaluation{
    position: absolute;
    width: 300px;
    height: 41px;
    left: 260px;
    top: 650px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}
.content_classroom{
    position: absolute;
    width: 300px;
    height: 41px;
    left: 260px;
    top: 720px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}
.content_tosmid{
    position: absolute;
    width: 300px;
    height: 41px;
    left: 260px;
    top: 795px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}
.content_tosfinal{ 
    position: absolute;
    width: 300px;
    height: 41px;
    left: 260px;
    top: 865px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}
.content_testmid{
    position: absolute;
    width: 300px;
    height: 41px;
    left: 260px;
    top: 930px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}
.content_testfinal{ 
    position: absolute;
    width: 400px;
    height: 41px;
    left: 260px;
    top: 1000px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}
.content_answermid{
    position: absolute;
    width: 300px;
    height: 41px;
    left: 260px;
    top: 1075px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}
.content_answerfinal{
    position: absolute;
    width: 300px;
    height: 41px;
    left: 260px;
    top:1145px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;
}
.content_grade{
    position: absolute;
    width: 300px;
    height: 41px;
    left: 260px;
    top:1215px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;
}
.content_facultyseek{
    position: absolute;
    width: 500px;
    height: 41px;
    left: 260px;
    top:1290px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;
}
.content_accomplishment{
    position: absolute;
    width: 300px;
    height: 41px;
    left: 260px;
    top:1360px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;
}
.content_researchpro{
    position: absolute;
    width: 400px;
    height: 41px;
    left: 260px;
    top:1430px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}
.content_researchimp{
    position: absolute;
    width: 300px;
    height: 41px;
    left: 260px;
    top:1495px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}

.content_researchpre{
    position: absolute;
    width: 400px;
    height: 41px;
    left: 260px;
    top:1565px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}

.content_researchpub{
    position: absolute;
    width: 300px;
    height: 41px;
    left: 260px;
    top:1635px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}
.content_researchfiled{
    position: absolute;
    width: 400px;
    height: 41px;
    left: 260px;
    top:1715px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}

.content_researchutil{
    position: absolute;
    width: 400px;
    height: 41px;
    left: 260px;
    top:1775px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}

.content_citations{
    position: absolute;
    width: 300px;
    height: 41px;
    left: 260px;
    top:1855px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}
.content_extension{
    position: absolute;
    width: 400px;
    height: 41px;
    left: 260px;
    top:1925px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}

.content_pertrained{
    position: absolute;
    width: 400px;
    height: 41px;
    left: 260px;
    top:1995px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}

.content_perserv{
    position: absolute;
    width: 400px;
    height: 41px;
    left: 260px;
    top:2060px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}

.content_perad{
    position: absolute;
    width: 400px;
    height: 41px;
    left: 260px;
    top:2130px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}

.content_techad{
    position: absolute;
    width: 400px;
    height: 41px;
    left: 260px;
    top:2210px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}

.content_accperf{position: absolute;
    width: 400px;
    height: 41px;
    left: 260px;
    top:2285px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}

.content_flagraise{
    position: absolute;
    width: 400px;
    height: 41px;
    left: 260px;
    top:2360px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}
.content_flaglower{
    position: absolute;
    width: 400px;
    height: 41px;
    left: 260px;
    top: 2430px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}
.content_healthprog{
    position: absolute;
    width: 450px;
    height: 41px;
    left: 260px;
    top:2495px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}

.content_schoolceleb{
    position: absolute;
    width: 450px;
    height: 41px;
    left: 260px;
    top:2565px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}

.content_training{
    position: absolute;
    width: 500px;
    height: 41px;
    left: 260px;
    top:2635px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}

.content_facultymeet{
    position: absolute;
    width: 400px;
    height: 41px;
    left: 260px;
    top:2710px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}

.content_accre{
    position: absolute;
    width: 400px;
    height: 41px;
    left: 260px;
    top:2780px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}

.content_spiritual{
    position: absolute;
    width: 450px;
    height: 41px;
    left: 260px;
    top:2850px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: black;}

.save{
    
        position: absolute;
        font-family:'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color:#5C85B3;
        width: 172px;
        height: 42px;
        left: 940px;
        top: 2910px;
        
        border-radius: 18px;
        border: 2px solid;
}
.save:hover{
    background-color: white;
}
.submit{
    
    position: absolute;
    font-family:'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color:white;
    width: 172px;
    height: 42px;
    left: 1400px;
    top: 3155px;
    background: #5C85B3;
    border-radius: 18px;
    border: 0px solid;
}
.submit:hover{
background-color: #3F6DEB;

}
/*SUBMIT */
.quest{
    position: absolute;
    font-family:'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color:Black;
    height: 42px;
    left: 340px;
    top: 120px;
    background: white;
    border-radius: 18px; 
    padding-top: 20px;
    padding-bottom:200px;
    padding-left:20px;
    padding-right:20px;
    
    
}

.home_bg_submit{
   position : absolute;
    width: 1399px;
    height: 300px;
    left: 262px;
    top: 244px;
    background: #282525;
    box-shadow: 10px 4px 14px 3px rgba(0, 0, 0, 0.25);
    border-radius: 18px; 
    padding-top : 200px;
}
.yes
{position: absolute;
    font-family:'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color:white;
    width: 172px;
    height: 42px;
    left: 520px;
    top: 250px;
    background: #5C85B3;
    border-radius: 18px;
    border: 0px solid;}
.yes:hover{
        background-color: #3F6DEB;}
.no
{position: absolute;
    font-family:'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color:#5C85B3;
    width: 172px;
    height: 42px;
    left: 780px;
    top: 250px;
    border-radius: 18px;
    border: 2px solid;}
.no:hover{
    background-color: white;}