<h2>INSTRUCTION</h2>
<h3>1. Plan and prepare instructional materials to enhance instruction</h3>

    <h4>A. No. of syllabus prepared</h4>
    <h4> {{ IPCR_Syllabus.syllabus_Target }} {{ IPCR_Syllabus.syllabus_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

    <h4>B. No. of course guide prepared</h4>
    <h4> {{ IPCR_CourseGuide.CourseGuide_Target }} {{ IPCR_CourseGuide.CourseGuide_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

    <h4>C. No. of SLM prepared:</h4>
    <h4> {{ IPCR_SLM.SLM_Target }} {{ IPCR_SLM.SLM_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

    <h4>D. No. of subject areas with community immersion/involvement component:</h4>
    <h4> {{ IPCR_SubjectAreas.SubjectAreas_Target }} {{ IPCR_SubjectAreas.SubjectAreas_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

<h3>2. Organizes classroom instruction</h3>

    <h4>A. Attendance sheet:</h4>
    <h4> {{ IPCR_AttendanceSheet.AttendanceSheet_Target }} {{ IPCR_AttendanceSheet.AttendanceSheet_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

    <h4>B. Class record:</h4>
    <h4> {{ IPCR_ClassRecord.ClassRecord_Target }} {{ IPCR_ClassRecord.ClassRecord_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

<h3>3. Teaching effectiveness</h3>

    <h4>A. Evaluation of teaching effectiveness:</h4>
    <h4> {{ IPCR_TeachingEffectiveness.TeachingEffectiveness_Target }} {{ IPCR_TeachingEffectiveness.TeachingEffectiveness_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

    <h4>B. Classroom observation:</h4>
    <h4> {{ IPCR_ClassroomObservation.ClassroomObservation_Target }} {{ IPCR_ClassroomObservation.ClassroomObservation_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

<h3>4. Prepared and check summative/evaluative/formative tests</h3>

    <h4>A.1. TOS/Rubrics (Midterm):</h4>
    <h4> {{ IPCR_MidtermTOSRubrics.MidtermTOSRubrics_Target }} {{ IPCR_MidtermTOSRubrics.MidtermTOSRubrics_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

    <h4>A.2. TOS/Rubrics (Final term):</h4>
    <h4> {{ IPCR_FinaltermTOSRubrics.FinaltermTOSRubrics_Target }} {{ IPCR_FinaltermTOSRubrics.FinaltermTOSRubrics_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

    <h4>B.1. Test questions (term exams)/Performance's based activities (Midterm):</h4>
    <h4> {{ IPCR_MidtermTestQuestions.MidtermTestQuestions_Target }} {{ IPCR_MidtermTestQuestions.MidtermTestQuestions_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

    <h4>B.2. Test questions (term exams)/Performance's based activities (Final term):</h4>
    <h4> {{ IPCR_FinaltermTestQuestions.FinaltermTestQuestions_Target }} {{ IPCR_FinaltermTestQuestions.FinaltermTestQuestions_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

    <h4>C.1. Answer keys (Midterm):</h4>
    <h4> {{ IPCR_MidtermAnswerKey.MidtermAnswerKey_Target }} {{ IPCR_MidtermAnswerKey.MidtermAnswerKey_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

    <h4>C.2. Answer keys (Final term):</h4>
    <h4> {{ IPCR_FinaltermAnswerKey.FinaltermAnswerKey_Target }} {{ IPCR_FinaltermAnswerKey.FinaltermAnswerKey_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

<h3>5. Compute and Evaluate Grades</h3>

    <h4>A. No. of grading sheets submitted and encoded:</h4>
    <h4> {{ IPCR_GradingSheet.GradingSheet_Target }} {{ IPCR_GradingSheet.GradingSheet_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

<h3>6. Consultation services to faculty and students</h3>    

    <h4>A. No. of faculty and students seek advises:</h4>
    <h4> {{ IPCR_StudentAdviced.StudentAdviced_Target }} {{ IPCR_StudentAdviced.StudentAdviced_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

<h3>7. Prepare accomplishment report</h3>    

    <h4>A. Accomplishment report:</h4>
    <h4> {{ IPCR_AccomplishmentReport.AccomplishmentReport_Target }} {{ IPCR_AccomplishmentReport.AccomplishmentReport_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

<h2>RESEARCH</h2>    
<h3>8. Research program/projects/studies</h3>
    
    <h4>A. Research proposal submitted/activity conducted:</h4>
    <h4> {{ IPCR_ResearchProposalSubmitted.ResearchProposalSubmitted_Target }} {{ IPCR_ResearchProposalSubmitted.ResearchProposalSubmitted_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

    <h4>B. Research implemented and/or completed within the timeframe:</h4>
    <h4> {{ IPCR_ResearchImplemented.ResearchImplemented_Target }} {{ IPCR_ResearchImplemented.ResearchImplemented_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

    <h4>C. Research presented in regional/national/international conferences:</h4>
    <h4> {{ IPCR_ResearchPresented.ResearchPresented_Target }} {{ IPCR_ResearchPresented.ResearchPresented_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

    <h4>D. Research published in peer-reviewed journals:</h4>
    <h4> {{ IPCR_Published.Published_Target }} {{ IPCR_Published.Published_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

    <h4>E. Filed/published/approved Intelectual Property rights:</h4>
    <h4> {{ IPCR_ApprovedIPRights.ApprovedIPRights_Target }} {{ IPCR_ApprovedIPRights.ApprovedIPRights_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

    <h4>F. Research utilized/deployed through commercialization/extension/policy:</h4>
    <h4> {{ IPCR_ResearchUtilized.ResearchUtilized_Target }} {{ IPCR_ResearchUtilized.ResearchUtilized_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

    <h4>G. Number of citations in journals/books:</h4>
    <h4> {{ IPCR_NumberOfCitations.NumberOfCitations_Target }} {{ IPCR_NumberOfCitations.NumberOfCitations_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

<h2>EXTENSION</h2>
<h3>9. Extension projects</h3>

    <h4>A. Extension proposal submitted/activity conducted:</h4>
    <h4> {{ IPCR_ExtensionProposalSubmitted.ExtensionProposalSubmitted_Target }} {{ IPCR_ExtensionProposalSubmitted.ExtensionProposalSubmitted_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

    <h4>B. Persons trained/provided with technical advise:</h4>
    <h4> {{ IPCR_PersonTrained.PersonTrained_Target }} {{ IPCR_PersonTrained.PersonTrained_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

    <h4>C. Persons who avail the service who rated the service as good or better:</h4>
    <h4> {{ IPCR_PersonAvailedRatedGood.PersonAvailedRatedGood_Target }} {{ IPCR_PersonAvailedRatedGood.PersonAvailedRatedGood_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

    <h4>D. Persons given training or advisory who rated the timeliness of service delivery as good or better:</h4>
    <h4> {{ IPCR_PersonTrainedRatedGood.PersonTrainedRatedGood_Target }} {{ IPCR_PersonTrainedRatedGood.PersonTrainedRatedGood_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

    <h4>E. Technical advice responded within 3 days upon request:</h4>
    <h4> {{ IPCR_TechnicalAdvice.TechnicalAdvice_Target }} {{ IPCR_TechnicalAdvice.TechnicalAdvice_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

<h2>SUPPORT FUNCTION</h2>
<h3>10. Perform officially deligated assignment</h3>

    <h4>A. Accomplishment report:</h4>
    <h4> {{ IPCR_AccomplishmentReportDeligatedAssignment.AccomplishmentReportDeligatedAssignment_Target }} {{ IPCR_AccomplishmentReportDeligatedAssignment.AccomplishmentReportDeligatedAssignment_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

<h3>11. Participate in the flag raising ceremony</h3>

    <h4>A. Attendance:</h4>
    <h4> {{ IPCR_FlagRaisingAttendance.FlagRaisingAttendance_Target }} {{ IPCR_FlagRaisingAttendance.FlagRaisingAttendance_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

<h3>12. Participate in the flag lowering ceremony</h3>

    <h4>A. Attendance:</h4>
    <h4> {{ IPCR_FlagLoweringAttendance.FlagLoweringAttendance_Target }} {{ IPCR_FlagLoweringAttendance.FlagLoweringAttendance_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

<h3>13. Participate in the health and wellness program</h3>

    <h4>A. Attendance sheet/program of activities/other document as proof:</h4>
    <h4> {{ IPCR_WellnessProgramAttendance.WellnessProgramAttendance_Target }} {{ IPCR_WellnessProgramAttendance.WellnessProgramAttendance_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

<h3>14. Participate in school celebrations and other allied activities</h3>

    <h4>A. Attendance sheet/program of activities/other document as proof:</h4>
    <h4> {{ IPCR_SchoolCelebrationAttendance.SchoolCelebrationAttendance_Target }} {{ IPCR_SchoolCelebrationAttendance.SchoolCelebrationAttendance_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

<h3>15. Attend trainings/conferences/seminars</h3>

    <h4>A. Training/seminar/conference certificate of attendance/participation: </h4>
    <h4> {{ IPCR_TrainingAttendance.TrainingAttendance_Target }} {{ IPCR_TrainingAttendance.TrainingAttendance_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

<h3>16. Attend faculty meetings</h3>

    <h4>A. Attendance:</h4>
    <h4> {{ IPCR_FacultyMeetingAttendance.FacultyMeetingAttendance_Target }} {{ IPCR_FacultyMeetingAttendance.FacultyMeetingAttendance_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

<h3>17. Involvement in accreditation/ISO and other related activities:</h3>

    <h4>A. Attendance:</h4>
    <h4> {{ IPCR_AccreditationAttendance.AccreditationAttendance_Target }} {{ IPCR_AccreditationAttendance.AccreditationAttendance_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>

<h3>18. Participate in the spiritual activities</h3>

    <h4>A. Attendance sheet/program of activities/other document as proof:</h4>
    <h4> {{ IPCR_SpiritualActivityAttendance.SpiritualActivityAttendance_Target }} {{ IPCR_SpiritualActivityAttendance.SpiritualActivityAttendance_Accomplished }} {{ IPCR_Deadline.IPCR_Deadline }}</h4>
