{% load static %}
<script src="{% static 'IPCR/pdfjs-3.6.172-dist/build/pdf.js' %}"></script>
<script src="{% static 'IPCR/pdfjs-3.6.172-dist/build/pdf.worker.js' %}"></script>

<div id="pdfViewer"></div>
<script>

  const container = document.getElementById('pdfViewer');
  const pdfUrl = "{% static 'IPCR/IPCR_FORM.pdf' %}";
  pdfjsLib.getDocument(pdfUrl).promise.then(function (pdfDoc) {
    renderPage(pdfDoc, 1);
  });

  function renderPage(pdfDoc, pageNum) {
    pdfDoc.getPage(pageNum).then(function (page) {
      const scale = 2;
      const viewport = page.getViewport({ scale });

      const canvas = document.createElement('canvas');
      const context = canvas.getContext('2d');
      canvas.width = viewport.width;
      canvas.height = viewport.height;
      container.appendChild(canvas);

      page.render({ canvasContext: context, viewport });

      if (pageNum < pdfDoc.numPages) {
        renderPage(pdfDoc, pageNum + 1);
      }
    });
  }
</script>
