
<div>
    <h3>1. Plan and prepare instructional materials to enhance instruction</h3>
    <div>
      <h4>A. No. of syllabus prepared:</h4>
      <label for="{{ form_syllabus_target.id_for_label }}">Target:</label>
      {{ form_syllabus_target.label_tag }}
      {{ form_syllabus_target }}
  
      <label for="{{ form_syllabus_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_syllabus_accomplished.label_tag }}
      {{ form_syllabus_accomplished }}

      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}
  
      <label for="{{ form_syllabus.id_for_label }}">Remarks:</label>
      {{ form_syllabus.label_tag }}
      {{ form_syllabus }}
    </div>
    <div>
      <h4>B. No. of course guide prepared:</h4>
      <label for="{{ form_courseguide_target.id_for_label }}">Target:</label>
      {{ form_courseguide_target.label_tag }}
      {{ form_courseguide_target }}
  
      <label for="{{ form_courseguide_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_courseguide_accomplished.label_tag }}
      {{ form_courseguide_accomplished }}

      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_courseguide.id_for_label }}">Remarks:</label>
      {{ form_courseguide.label_tag }}
      {{ form_courseguide }}
    </div>
    <div>
      <h4>C. No. of SLM prepared:</h4>
      <label for="{{ form_SLM_target.id_for_label }}">Target:</label>
      {{ form_SLM_target.label_tag }}
      {{ form_SLM_target }}
  
      <label for="{{ form_SLM_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_SLM_accomplished.label_tag }}
      {{ form_SLM_accomplished }}

      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_SLM.id_for_label }}">Remarks:</label>
      {{ form_SLM.label_tag }}
      {{ form_SLM }}
    </div>
    <div>
      <h4>D. No. of subject areas with community immersion/involvement component:</h4>
      <label for="{{ form_subjectareas_target.id_for_label }}">Target:</label>
      {{ form_subjectareas_target.label_tag }}
      {{ form_subjectareas_target }}
  
      <label for="{{ form_subjectareas_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_subjectareas_accomplished.label_tag }}
      {{ form_subjectareas_accomplished }}

      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_subjectareas.id_for_label }}">Remarks:</label>
      {{ form_subjectareas.label_tag }}
      {{ form_subjectareas }}
    </div>
  </div>
  <div>
    <h3>2. Organizes classroom instruction</h3>
    <div>
      <h4>A. Attendance sheet:</h4>
      <label for="{{ form_attendancesheet_target.id_for_label }}">Target:</label>
      {{ form_attendancesheet_target.label_tag }}
      {{ form_attendancesheet_target }}
  
      <label for="{{ form_attendancesheet_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_attendancesheet_accomplished.label_tag }}
      {{ form_attendancesheet_accomplished }}

      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_attendancesheet.id_for_label }}">Remarks:</label>
      {{ form_attendancesheet.label_tag }}
      {{ form_attendancesheet }}
    </div>
    <div>
      <h4>B. Class record:</h4>
      <label for="{{ form_classrecord_target.id_for_label }}">Target:</label>
      {{ form_classrecord_target.label_tag }}
      {{ form_classrecord_target }}
  
      <label for="{{ form_classrecord_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_classrecord_accomplished.label_tag }}
      {{ form_classrecord_accomplished }}

      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_classrecord.id_for_label }}">Remarks:</label>
      {{ form_classrecord.label_tag }}
      {{ form_classrecord }}
    </div>
  </div>
  <div>
    <h3>3. Teaching effectiveness</h3>
    <div>
      <h4>A. Evaluation of teaching effectiveness:</h4>
      <label for="{{ form_teachingeffectiveness_target.id_for_label }}">Target:</label>
      {{ form_teachingeffectiveness_target.label_tag }}
      {{ form_teachingeffectiveness_target }}
  
      <label for="{{ form_teachingeffectiveness_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_teachingeffectiveness_accomplished.label_tag }}
      {{ form_teachingeffectiveness_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_teachingeffectiveness.id_for_label }}">Remarks:</label>
      {{ form_teachingeffectiveness.label_tag }}
      {{ form_teachingeffectiveness }}
    </div>
    <div>
      <h4>B. Classroom observation:</h4>
      <label for="{{ form_classroomobservation_target.id_for_label }}">Target:</label>
      {{ form_classroomobservation_target.label_tag }}
      {{ form_classroomobservation_target }}
  
      <label for="{{ form_classroomobservation_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_classroomobservation_accomplished.label_tag }}
      {{ form_classroomobservation_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_classroomobservation.id_for_label }}">Remarks:</label>
      {{ form_classroomobservation.label_tag }}
      {{ form_classroomobservation }}
    </div>
  </div>
  <div>
    <h3>4. Prepared and check summative/evaluative/formative tests</h3>
    <div>
      <h4>A.1. TOS/Rubrics (Midterm):</h4>
      <label for="{{ form_midtermtosrubrics_target.id_for_label }}">Target:</label>
      {{ form_midtermtosrubrics_target.label_tag }}
      {{ form_midtermtosrubrics_target }}
  
      <label for="{{ form_midtermtosrubrics_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_midtermtosrubrics_accomplished.label_tag }}
      {{ form_midtermtosrubrics_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_midtermtosrubrics.id_for_label }}">Remarks:</label>
      {{ form_midtermtosrubrics.label_tag }}
      {{ form_midtermtosrubrics }}
    </div>
    <div>
      <h4>A.2. TOS/Rubrics (Final term):</h4>
      <label for="{{ form_finaltermtosrubrics_target.id_for_label }}">Target:</label>
      {{ form_finaltermtosrubrics_target.label_tag }}
      {{ form_finaltermtosrubrics_target }}
  
      <label for="{{ form_finaltermtosrubrics_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_finaltermtosrubrics_accomplished.label_tag }}
      {{ form_finaltermtosrubrics_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_finaltermtosrubrics.id_for_label }}">Remarks:</label>
      {{ form_finaltermtosrubrics.label_tag }}
      {{ form_finaltermtosrubrics }}
    </div>
    <div>
      <h4>B.1. Test questions (term exams)/Performance's based activities (Midterm):</h4>
      <label for="{{ form_midtermtestquestions_target.id_for_label }}">Target:</label>
      {{ form_midtermtestquestions_target.label_tag }}
      {{ form_midtermtestquestions_target }}
  
      <label for="{{ form_finaltermtosrubrics_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_midtermtestquestions_accomplished.label_tag }}
      {{ form_midtermtestquestions_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_midtermtestquestions.id_for_label }}">Remarks:</label>
      {{ form_midtermtestquestions.label_tag }}
      {{ form_midtermtestquestions }}
    </div>
    <div>
      <h4>B.2. Test questions (term exams)/Performance's based activities (Final term):</h4>
      <label for="{{ form_finaltermtestquestions_target.id_for_label }}">Target:</label>
      {{ form_finaltermtestquestions_target.label_tag }}
      {{ form_finaltermtestquestions_target }}
  
      <label for="{{ form_finaltermtestquestions_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_finaltermtestquestions_accomplished.label_tag }}
      {{ form_finaltermtestquestions_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_finaltermtestquestions.id_for_label }}">Remarks:</label>
      {{ form_finaltermtestquestions.label_tag }}
      {{ form_finaltermtestquestions }}
    </div>
    <div>
      <h4>C.1. Answer keys (Midterm):</h4>
      <label for="{{ form_midtermanswerkey_target.id_for_label }}">Target:</label>
      {{ form_midtermanswerkey_target.label_tag }}
      {{ form_midtermanswerkey_target }}
  
      <label for="{{ form_midtermanswerkey_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_midtermanswerkey_accomplished.label_tag }}
      {{ form_midtermanswerkey_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_midtermanswerkey.id_for_label }}">Remarks:</label>
      {{ form_midtermanswerkey.label_tag }}
      {{ form_midtermanswerkey }}
    </div>
    <div>
      <h4>C.2. Answer keys (Final term):</h4>
      <label for="{{ form_finaltermanswerkey_target.id_for_label }}">Target:</label>
      {{ form_finaltermanswerkey_target.label_tag }}
      {{ form_finaltermanswerkey_target }}
  
      <label for="{{ form_finaltermanswerkey_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_finaltermanswerkey_accomplished.label_tag }}
      {{ form_finaltermanswerkey_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_finaltermanswerkey.id_for_label }}">Remarks:</label>
      {{ form_finaltermanswerkey.label_tag }}
      {{ form_finaltermanswerkey }}
    </div>
  </div>
  <div>
    <h3>5. Compute and Evaluate Grades</h3>
    <div>
      <h4>A. No. of grading sheets submitted and encoded:</h4>
      <label for="{{ form_gradingsheet_target.id_for_label }}">Target:</label>
      {{ form_gradingsheet_target.label_tag }}
      {{ form_gradingsheet_target }}
  
      <label for="{{ form_gradingsheet_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_gradingsheet_accomplished.label_tag }}
      {{ form_gradingsheet_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_gradingsheet.id_for_label }}">Remarks:</label>
      {{ form_gradingsheet.label_tag }}
      {{ form_gradingsheet }}
    </div>
  </div>
  <div>
    <h3>6. Consultation services to faculty and students</h3>    
    <div>
      <h4>A. No. of faculty and students seek advises:</h4>
      <label for="{{ form_studentadviced_target.id_for_label }}">Target:</label>
      {{ form_studentadviced_target.label_tag }}
      {{ form_studentadviced_target }}
  
      <label for="{{ form_studentadviced_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_studentadviced_accomplished.label_tag }}
      {{ form_studentadviced_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_studentadviced.id_for_label }}">Remarks:</label>
      {{ form_studentadviced.label_tag }}
      {{ form_studentadviced }}
    </div>
  </div>
  <div>
    <h3>7. Prepare accomplishment report</h3>       
    <div>
      <h4>A. Accomplishment report:</h4>
      <label for="{{ form_accomplishmentreport_target.id_for_label }}">Target:</label>
      {{ form_accomplishmentreport_target.label_tag }}
      {{ form_accomplishmentreport_target }}
  
      <label for="{{ form_accomplishmentreport_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_accomplishmentreport_accomplished.label_tag }}
      {{ form_accomplishmentreport_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_accomplishmentreport.id_for_label }}">Remarks:</label>
      {{ form_accomplishmentreport.label_tag }}
      {{ form_accomplishmentreport }}
    </div>
  </div>
  <div>
    <h3>8. Research program/projects/studies</h3>       
    <div>
      <h4>A. Research proposal submitted/activity conducted:</h4>
      <label for="{{ form_researchproposalsubmitted_target.id_for_label }}">Target:</label>
      {{ form_researchproposalsubmitted_target.label_tag }}
      {{ form_researchproposalsubmitted_target }}
  
      <label for="{{ form_researchproposalsubmitted_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_researchproposalsubmitted_accomplished.label_tag }}
      {{ form_researchproposalsubmitted_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_researchproposalsubmitted.id_for_label }}">Remarks:</label>
      {{ form_researchproposalsubmitted.label_tag }}
      {{ form_researchproposalsubmitted }}
    </div>
    <div>
      <h4>B. Research implemented and/or completed within the timeframe:</h4>
      <label for="{{ form_researchimplemented_target.id_for_label }}">Target:</label>
      {{ form_researchimplemented_target.label_tag }}
      {{ form_researchimplemented_target }}
  
      <label for="{{ form_researchimplemented_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_researchimplemented_accomplished.label_tag }}
      {{ form_researchimplemented_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_researchimplemented.id_for_label }}">Remarks:</label>
      {{ form_researchimplemented.label_tag }}
      {{ form_researchimplemented }}
    </div>
    <div>
      <h4>C. Research presented in regional/national/international conferences:</h4>
      <label for="{{ form_researchpresented_target.id_for_label }}">Target:</label>
      {{ form_researchpresented_target.label_tag }}
      {{ form_researchpresented_target }}
  
      <label for="{{ form_researchpresented_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_researchpresented_accomplished.label_tag }}
      {{ form_researchpresented_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_researchpresented.id_for_label }}">Remarks:</label>
      {{ form_researchpresented.label_tag }}
      {{ form_researchpresented }}
    </div>
    <div>
      <h4>D. Research published in peer-reviewed journals:</h4>
      <label for="{{ form_researchpublished_target.id_for_label }}">Target:</label>
      {{ form_researchpublished_target.label_tag }}
      {{ form_researchpublished_target }}
  
      <label for="{{ form_researchpublished_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_researchpublished_accomplished.label_tag }}
      {{ form_researchpublished_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_researchpublished.id_for_label }}">Remarks:</label>
      {{ form_researchpublished.label_tag }}
      {{ form_researchpublished }}
    </div>
    <div>
      <h4>E. Filed/published/approved Intelectual Property rights:</h4>
      <label for="{{ form_approvediprights_target.id_for_label }}">Target:</label>
      {{ form_approvediprights_target.label_tag }}
      {{ form_approvediprights_target }}
  
      <label for="{{ form_approvediprights_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_approvediprights_accomplished.label_tag }}
      {{ form_approvediprights_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_approvediprights.id_for_label }}">Remarks:</label>
      {{ form_approvediprights.label_tag }}
      {{ form_approvediprights }}
    </div>
    <div>
      <h4>F. Research utilized/deployed through commercialization/extension/policy:</h4>
      <label for="{{ form_researchutilized_target.id_for_label }}">Target:</label>
      {{ form_researchutilized_target.label_tag }}
      {{ form_researchutilized_target }}
  
      <label for="{{ form_researchutilized_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_researchutilized_accomplished.label_tag }}
      {{ form_researchutilized_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_researchutilized.id_for_label }}">Remarks:</label>
      {{ form_researchutilized.label_tag }}
      {{ form_researchutilized }}
    </div>
    <div>
      <h4>G. Number of citations in journals/books:</h4>
      <label for="{{ form_numberofcitations_target.id_for_label }}">Target:</label>
      {{ form_numberofcitations_target.label_tag }}
      {{ form_numberofcitations_target }}
  
      <label for="{{ form_numberofcitations_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_numberofcitations_accomplished.label_tag }}
      {{ form_numberofcitations_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_numberofcitations.id_for_label }}">Remarks:</label>
      {{ form_numberofcitations.label_tag }}
      {{ form_numberofcitations }}
    </div>
  </div>
  <div>
    <h3>9. Extension projects</h3>      
    <div>
      <h4>A. Extension proposal submitted/activity conducted:</h4>
      <label for="{{ form_extensionproposalsubmitted_target.id_for_label }}">Target:</label>
      {{ form_extensionproposalsubmitted_target.label_tag }}
      {{ form_extensionproposalsubmitted_target }}
  
      <label for="{{ form_extensionproposalsubmitted_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_extensionproposalsubmitted_accomplished.label_tag }}
      {{ form_extensionproposalsubmitted_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_extensionproposalsubmitted.id_for_label }}">Remarks:</label>
      {{ form_extensionproposalsubmitted.label_tag }}
      {{ form_extensionproposalsubmitted }}
    </div>
    <div>
      <h4>B. Persons trained/provided with technical advise:</h4>
      <label for="{{ form_persontrained_target.id_for_label }}">Target:</label>
      {{ form_persontrained_target.label_tag }}
      {{ form_persontrained_target }}
  
      <label for="{{ form_persontrained_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_persontrained_accomplished.label_tag }}
      {{ form_persontrained_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_persontrained.id_for_label }}">Remarks:</label>
      {{ form_persontrained.label_tag }}
      {{ form_persontrained }}
    </div>
    <div>
      <h4>C. Persons who avail the service who rated the service as good or better:</h4>
      <label for="{{ form_personavailedratedgood_target.id_for_label }}">Target:</label>
      {{ form_personavailedratedgood_target.label_tag }}
      {{ form_personavailedratedgood_target }}
  
      <label for="{{ form_personavailedratedgood_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_personavailedratedgood_accomplished.label_tag }}
      {{ form_personavailedratedgood_accomplished }}

      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_personavailedratedgood.id_for_label }}">Remarks:</label>
      {{ form_personavailedratedgood.label_tag }}
      {{ form_personavailedratedgood }}
    </div>
    <div>
      <h4>D. Persons given training or advisory who rated the timeliness of service delivery as good or better:</h4>
      <label for="{{ form_persontrainedratedgood_target.id_for_label }}">Target:</label>
      {{ form_persontrainedratedgood_target.label_tag }}
      {{ form_persontrainedratedgood_target }}
  
      <label for="{{ form_persontrainedratedgood_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_persontrainedratedgood_accomplished.label_tag }}
      {{ form_persontrainedratedgood_accomplished }}

      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_persontrainedratedgood.id_for_label }}">Remarks:</label>
      {{ form_persontrainedratedgood.label_tag }}
      {{ form_persontrainedratedgood }}
    </div>
    <div>
      <h4>E. Technical advice responded within 3 days upon request:</h4>
      <label for="{{ form_technicaladvice_target.id_for_label }}">Target:</label>
      {{ form_technicaladvice_target.label_tag }}
      {{ form_technicaladvice_target }}
  
      <label for="{{ form_technicaladvice_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_technicaladvice_accomplished.label_tag }}
      {{ form_technicaladvice_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_technicaladvice.id_for_label }}">Remarks:</label>
      {{ form_technicaladvice.label_tag }}
      {{ form_technicaladvice }}
    </div>
  </div>
  <div>
    <h3>10. Perform officially deligated assignment</h3>     
    <div>
      <h4>A. Accomplishment report:</h4>
      <label for="{{ form_accomplishmentreportdeligatedassignment_target.id_for_label }}">Target:</label>
      {{ form_accomplishmentreportdeligatedassignment_target.label_tag }}
      {{ form_accomplishmentreportdeligatedassignment_target }}
  
      <label for="{{ form_accomplishmentreportdeligatedassignment_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_accomplishmentreportdeligatedassignment_accomplished.label_tag }}
      {{ form_accomplishmentreportdeligatedassignment_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_accomplishmentreportdeligatedassignment.id_for_label }}">Remarks:</label>
      {{ form_accomplishmentreportdeligatedassignment.label_tag }}
      {{ form_accomplishmentreportdeligatedassignment }}
    </div>
  </div>
  <div>
    <h3>11. Participate in the flag raising ceremony</h3> 
    <div>
      <h4>A. Attendance:</h4>
      <label for="{{ form_flagraisingattendance_target.id_for_label }}">Target:</label>
      {{ form_flagraisingattendance_target.label_tag }}
      {{ form_flagraisingattendance_target }}
  
      <label for="{{ form_flagraisingattendance_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_flagraisingattendance_accomplished.label_tag }}
      {{ form_flagraisingattendance_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_flagraisingattendance.id_for_label }}">Remarks:</label>
      {{ form_flagraisingattendance.label_tag }}
      {{ form_flagraisingattendance }}
    </div>
  </div>
  <div>
    <h3>12. Participate in the flag lowering ceremony</h3>
    <div>
      <h4>A. Attendance:</h4>
      <label for="{{ form_flagloweringattendance_target.id_for_label }}">Target:</label>
      {{ form_flagloweringattendance_target.label_tag }}
      {{ form_flagloweringattendance_target }}
  
      <label for="{{ form_flagloweringattendance_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_flagloweringattendance_accomplished.label_tag }}
      {{ form_flagloweringattendance_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_flagloweringattendance.id_for_label }}">Remarks:</label>
      {{ form_flagloweringattendance.label_tag }}
      {{ form_flagloweringattendance }}
    </div>
  </div>
  <div>
    <h3>13. Participate in the health and wellness program</h3>
    <div>
      <h4>A. Attendance sheet/program of activities/other document as proof:</h4>
      <label for="{{ form_wellnessprogramattendance_target.id_for_label }}">Target:</label>
      {{ form_wellnessprogramattendance_target.label_tag }}
      {{ form_wellnessprogramattendance_target }}
  
      <label for="{{ form_wellnessprogramattendance_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_wellnessprogramattendance_accomplished.label_tag }}
      {{ form_wellnessprogramattendance_accomplished }}

      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_wellnessprogramattendance.id_for_label }}">Remarks:</label>
      {{ form_wellnessprogramattendance.label_tag }}
      {{ form_wellnessprogramattendance }}
    </div>
  </div>
  <div>
    <h3>14. Participate in school celebrations and other allied activities</h3>
    <div>
      <h4>Attendance sheet/program of activities/other document as proof:</h4>
      <label for="{{ form_schoolcelebrationattendance_target.id_for_label }}">Target:</label>
      {{ form_schoolcelebrationattendance_target.label_tag }}
      {{ form_schoolcelebrationattendance_target }}
  
      <label for="{{ form_schoolcelebrationattendance_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_schoolcelebrationattendance_accomplished.label_tag }}
      {{ form_schoolcelebrationattendance_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_schoolcelebrationattendance.id_for_label }}">Remarks:</label>
      {{ form_schoolcelebrationattendance.label_tag }}
      {{ form_schoolcelebrationattendance }}
    </div>
  </div>
  <div>
    <h3>15. Attend trainings/conferences/seminars</h3>
    <div>
      <h4>A. Training/seminar/conference certificate of attendance/participation: </h4>
      <label for="{{ form_trainingattendance_target.id_for_label }}">Target:</label>
      {{ form_trainingattendance_target.label_tag }}
      {{ form_trainingattendance_target }}
  
      <label for="{{ form_trainingattendance_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_trainingattendance_accomplished.label_tag }}
      {{ form_trainingattendance_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_trainingattendance.id_for_label }}">Remarks:</label>
      {{ form_trainingattendance.label_tag }}
      {{ form_trainingattendance }}
    </div>
  </div>
  <div>
    <h3>16. Attend faculty meetings</h3>
    <div>
      <h4>A. Attendance:</h4>
      <label for="{{ form_facultymeetingattendance_target.id_for_label }}">Target:</label>
      {{ form_facultymeetingattendance_target.label_tag }}
      {{ form_facultymeetingattendance_target }}
  
      <label for="{{ form_facultymeetingattendance_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_facultymeetingattendance_accomplished.label_tag }}
      {{ form_facultymeetingattendance_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_facultymeetingattendance.id_for_label }}">Remarks:</label>
      {{ form_facultymeetingattendance.label_tag }}
      {{ form_facultymeetingattendance }}
    </div>
  </div>
  <div>
    <h3>17. Involvement in accreditation/ISO and other related activities:</h3>
    <div>
      <h4>A. Attendance:</h4>
      <label for="{{ form_accreditationattendance_target.id_for_label }}">Target:</label>
      {{ form_accreditationattendance_target.label_tag }}
      {{ form_accreditationattendance_target }}
  
      <label for="{{ form_accreditationattendance_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_accreditationattendance_accomplished.label_tag }}
      {{ form_accreditationattendance_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_accreditationattendance.id_for_label }}">Remarks:</label>
      {{ form_accreditationattendance.label_tag }}
      {{ form_accreditationattendance }}
    </div>
  </div>
  <div>
    <h3>18. Participate in the spiritual activities</h3>
    <div>
      <h4>A. Attendance sheet/program of activities/other document as proof:</h4>
      <label for="{{ form_spiritualactivityattendance_target.id_for_label }}">Target:</label>
      {{ form_spiritualactivityattendance_target.label_tag }}
      {{ form_spiritualactivityattendance_target }}
  
      <label for="{{ form_spiritualactivityattendance_accomplished.id_for_label }}">Accomplished:</label>
      {{ form_spiritualactivityattendance_accomplished.label_tag }}
      {{ form_spiritualactivityattendance_accomplished }}
  
      <label for="{{ form_deadline.id_for_label }}">Deadline:</label>
      {{ form_deadline.label_tag }}
      {{ form_deadline }}

      <label for="{{ form_spiritualactivityattendance.id_for_label }}">Remarks:</label>
      {{ form_spiritualactivityattendance.label_tag }}
      {{ form_spiritualactivityattendance }}
    </div>
  </div>