<html>
    <head>
    {% load static %}
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="static/dashboard/style.css">
    <link rel="stylesheet"href = "https://unpkg.com/boxiconx@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dashboard/style.css' %}">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";>
    <div class="title"> 
        <div class = "lspu_bg">
            <img src="{% static 'home/img/background.png' %} "class="center" >
        </div>
        <div class = "white_bg"></div>
        <div class = "lspu_header"> 
            <img src="{% static 'home/img/LSPU_header.png' %}"> </div>
    </div>
    <div class = "avatar_bg"></div>
    <div class = "avatar">
        <img src="{% static 'home/img/avatar.png' %} "class="center" ></div>  
    <div class = "acc_name_bg"></div>
    <div class = "acc_name_placeholder">{{ current_user.get_full_name }}</div>
    <div class = "home_bg"></div>
    <div class ="logout_bg">
        <button class="logout"><a href="{% url 'logout' %}">Logout</a></button></div>
<!-- W/O Style
         <section class ="menu" id="menu">
            <div class ="menu_home_super"><a href="{% url 'admin_faculty_list' %}">Faculty List</a></div>
            <button class="menu_dashboard_super"><a href = "{% url 'dashboard' %}">Dashboard</a></button>
            <div class="menu_faculty_list_super"></div>
            <button class="menu_notifications_super"><a href="{% url 'admin_superadmin_notification' % }">Notifications</a></button>
            <button class="settings_icon_super"><a href="{% url 'settings' %}"><img src="{% static 'home/img/settings_icon.png' %}"></a></button>
    </section> -->
    <section class="menu" id="menu">
        {% if 'Admin_Director' in user_group_names %}
        <button class="menu_home_admin" style="position: absolute; width: 172px; height: 42px; left: 480px; top: 273px; background-color: #ffffff; opacity: 0.4; border-radius: 18px;font-family: 'Inter'; font-style: italic; font-weight: 700; font-size: 16px; line-height: 19px; text-align: center; color: #FFFFFF""><a href="{% url 'admin_home' %}">Home</a></button>
        {% elif 'Superadmin' in user_group_names %}
        <button class="menu_home_admin" style="position: absolute; width: 172px; height: 42px; left: 480px; top: 273px; background-color: #ffffff; opacity: 0.4; border-radius: 18px;font-family: 'Inter'; font-style: italic; font-weight: 700; font-size: 16px; line-height: 19px; text-align: center; color: #FFFFFF""><a href="{% url 'superadmin_home' %}">Home</a></button>
        {% endif %}
        <div class="home_admin" style="position: absolute; width: 139px; height: 20px; left: 710px; top: 285px; font-family: 'Inter'; font-style: italic; font-weight: 700; font-size: 16px; line-height: 19px; text-align: center; color: #FFFFFF;">Dashboard</div>
        <div class="menu_dashboard_admin" style="position: absolute; width: 172px; height: 42px; left: 696px; top: 273px; background: #ffffff; opacity: 0.4; border-radius: 18px;font-family: 'Inter'; font-style: italic; font-weight: 700; font-size: 16px; line-height: 19px; text-align: center; color: #FFFFFF"></div>
        {% if 'Admin_Director' in user_group_names %}
		<button class="menu_faculty_list_admin" style="position: absolute; width: 172px; height: 42px; left: 904px; top: 273px; background: #ffffff; opacity: 0.4; border-radius: 18px;font-family: 'Inter'; font-style: italic; font-weight: 700; font-size: 16px; line-height: 19px; text-align: center; color: #ffffff"><a href="{% url 'admin_faculty_list' %}">Faculty List</a></button>
        {% elif 'Superadmin' in user_group_names %}
		<button class="menu_faculty_list_admin" style="position: absolute; width: 172px; height: 42px; left: 904px; top: 273px; background: #ffffff; opacity: 0.4; border-radius: 18px;font-family: 'Inter'; font-style: italic; font-weight: 700; font-size: 16px; line-height: 19px; text-align: center; color: #ffffff"><a href="{% url 'superadmin_faculty_list' %}">Faculty List</a></button>
		{% endif %}
		<button class="menu_notifications_admin" style="position: absolute; width: 172px; height: 42px; left: 1112px; top: 273px; background: #ffffff; opacity: 0.4; border-radius: 18px;font-family: 'Inter'; font-style: italic; font-weight: 700; font-size: 16px; line-height: 19px; text-align: center; color: #ffffff"><a href="{% url 'admin_superadmin_notification' %} ">Notification</a></button>
        <button class="settings_icon_super" style="position: absolute; width: 75px; height: 42px; left: 1312px; top: 273px; background: #7d7676; opacity: 0.4; border-radius: 18px;"><a href="{% url 'settings' %}"><img src="{% static 'home/img/settings_icon.png' %}"></a></button>
    </section>
	<div class="card"></div>
	<div class="cardii"></div>
	<div class="cardtext"></div>
	<div class="cardtexti"></div>
	<div class="cardtextii"></div>
<meta charset="utf-8">
<title>Dashboard</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



<h1 class="linetext">IPCR COMPLETED</h1>
<h1 class="bartext">RESEARCH PUBLISHED</h1>
<body class="container-fluid">
<div>
	<center class="textdash">
	<h1>COLLEGE RESEARCH RANKING</h1>
</center>
</div>
<hr />
<div class="rowline">
	<div class="col-md-6">
	<canvas id="myChartline"></canvas>
	</div>	
</div>
	<div class="rowbar">
	<div class="col-md-6">
	<canvas id="myChartBar"></canvas>
	</div>
	
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script class="dashboardViewer">

	
	var endpoint = '/api';

	$.ajax({
	method: "GET",
	url: endpoint,
	success: function(data) {
		drawLineGraph(data, 'myChartline');
		drawBarGraph(data, 'myChartBar');
		console.log("drawing");
	},
	error: function(error_data) {
		console.log(error_data);
	}
	})


	function drawLineGraph(data, id) {
	var labels = data.IPCR_Submitted_labels;
	var chartLabel = data.IPCR_Submitted_chartLabel;
	var chartdata = data.IPCR_Submitted_chartdata;
	var ctx = document.getElementById(id).getContext('2d');
	var chart = new Chart(ctx, {
		// The type of chart we want to create
		type: 'line',

		// The data for our dataset
		data: {
		labels: labels,
		datasets: [{
			label: chartLabel,
			backgroundColor: 'rgb(0, 150, 255)',
			borderColor: 'rgb(55, 99, 132)',
			data: chartdata,
		}]
		},

		// Configuration options go here
		options: {
		scales: {
			xAxes: [{
			display: true
			}],
			yAxes: [{
			ticks: {
				beginAtZero: true
			}
			}]
		}
		}

	});
	}

	function drawBarGraph(data, id) {
	var labels = data.labels;
	var chartLabel = data.chartLabel;
	var chartdata = data.chartdata;
	var ctx = document.getElementById(id).getContext('2d');
	var myChart = new Chart(ctx, {
		type: 'bar',
		data: {
		labels: labels,
		datasets: [{
			label: chartLabel,
			data: chartdata,
			backgroundColor: [
			'rgba(255, 99, 132, 0.2)',
			'rgba(54, 162, 235, 0.2)',
			'rgba(255, 206, 86, 0.2)',
			'rgba(0, 150, 250, 0.2)',
			'rgba(153, 102, 255, 0.2)',
			'rgba(255, 159, 64, 0.2)'
			],
			borderColor: [
			'rgba(255, 99, 132, 1)',
			'rgba(54, 162, 235, 1)',
			'rgba(255, 206, 86, 1)',
			'rgba(75, 192, 192, 1)',
			'rgba(153, 102, 255, 1)',
			'rgba(255, 159, 64, 1)'
			],
			borderWidth: 1
			
		}]
		},
		options: {
		scales: {
			yAxes: [{
			ticks: {
				beginAtZero: true
			}
			}]
		}
		}
	});
	}

</script>
</body>
</html>
</head>

